<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/burger"
        android:label="@string/app_name"
        android:roundIcon="@drawable/burger"
        android:supportsRtl="true"
        android:theme="@style/Theme.umami_burger"
        android:name=".MyApp"
        >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0g03W4-cIA1GdP5sGcZYPm7z1nQ-DcA4"/>

        <meta-data
            android:name="com.google.android.libraries.places.API_KEY"
            android:value="AIzaSyA0g03W4-cIA1GdP5sGcZYPm7z1nQ-DcA4"/>


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>